name: Build Java GraalVM

on:
    workflow_dispatch:
    push:
        branches:
            - main
        paths:
            - graalvm/**
            - scripts/mimalloc.sh
            - entrypoint.sh
            - .github/workflows/graalvm.yml

permissions:
    actions: read
    contents: read
    packages: write

concurrency:
    group: "graalvm-${{ github.ref }}"
    cancel-in-progress: true

jobs:
    push:
        name: "java_${{ matrix.tag }}_graalvm"
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                tag:
                    - 21
                    - 25

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: QEMU Setup
              uses: docker/setup-qemu-action@v3

            - name: Setup Buildx
              uses: docker/setup-buildx-action@v3
              with:
                buildkitd-flags: --debug

            - name: Login to registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.repository_owner }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and Push
              uses: docker/build-push-action@v6
              with:
                context: .
                platforms: linux/amd64,linux/arm64
                file: ./graalvm/${{ matrix.tag }}/dockerfile
                push: true
                tags: ghcr.io/${{ github.repository }}:java_${{ matrix.tag }}_graalvm
                cache-from: type=gha
                cache-to: type=gha,mode=max
